@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;

}
header {
    background-image: url('./images/sneakerking-logo.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 120px;
    position: relative;
}
.overlay {
    position: absolute; 
    z-index: 1;
    top: 0;
    left: 0;
    right:0;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(10, 10, 10, 0.3);
}

nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
}

nav li {
    list-style: none;
    display: inline-block;
    padding-left: 15px;
    padding-right: 20px;
}

li a{
    padding: 10px;
    background-color: rgb(180, 166, 110);
    text-decoration: none;
}
.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.addToCart{
    position: absolute;
    width: 100%;
    transition: all 0.4s ease-in-out;
    background-color: darkgrey;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

